DICTIONARY
- how to delete it 
- how to access key and values of a dictionary 
- how to use loops in dictionary

In [2]:
student = {
    "name"   : "John",
    "class"  : "12th",
    "roll_no": 12,
    "age"    : 17
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17}

In [3]:
temp = {
    'Lucknow' : [25,30,35],
    'Delhi'   : [30,35,40],
    'Chennai' : [24,23,22]
}
print(temp)

{'Lucknow': [25, 30, 35], 'Delhi': [30, 35, 40], 'Chennai': [24, 23, 22]}

In [4]:
# another method to take items in a dictinary
info = dict(name = 'Tiya', age = 27, dept = 'HR', salary = '30000')
print(info)

{'name': 'Tiya', 'age': 27, 'dept': 'HR', 'salary': '30000'}

In [5]:
# taking input from user in a dictionary 
info2 = dict(name = input("enter your name"), age = int(input("enter the age")), dept = input("enter the department"), salary = int(input("enter the salary")))
print(info2)

{'name': 'john', 'age': 25, 'dept': 'hr', 'salary': 30000}

In [6]:
# 1st methoed for accessing 
print(student['name'])
print(student['roll_no'])

John
12

In [7]:
# 2ns mwthod
print(student.get('name'))
print(student.get('roll_no'))

John
12

In [8]:
# to add items in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'DPS', 'city': 'Lucknow'}

In [9]:
for x in student:
    print(x)

name
class
roll_no
age
school
city

In [10]:
for k, v in student.items():
    print(f'{k} : {v}')

name : John
class : 12th
roll_no : 12
age : 17
school : DPS
city : Lucknow

In [11]:
print(student.keys())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])

In [12]:
print(student.values())

dict_values(['John', '12th', 12, 17, 'DPS', 'Lucknow'])

In [13]:
print(student.items())

dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'DPS'), ('city', 'Lucknow')])

In [14]:
# nested dictionary 
company = {
    'emp001' :{
        'name' : 'John',
        'age' : 27,
        'dept' : 'HR',
        'salary' : 30000
},
'emp002' :{
        'name' : 'Riya',
        'age' : 25,
        'dept' : 'IT',
        'salary' : 40000
},
'emp003' :{
        'name' : 'Mike',
        'age' : 30,
        'dept' : 'Finance',
        'salary' : 35000
}
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [15]:
from pprint import pp

In [16]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [17]:
print(company['emp001']['dept'])

HR

In [18]:
# adding data into nested dictionary
company ['emp004'] = {
    'name': 'sam',
    'age' : 35,
    'dept' : 'Admin',
    'salary' : 25000
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000},
 'emp004': {'name': 'sam', 'age': 35, 'dept': 'Admin', 'salary': 25000}}

In [19]:
# indexing in dictionary 
print(temp['Lucknow'][1])
print(temp['Delhi'][2])

30
40

In [20]:
# to find the average temperature of delhi
avg = sum(temp['Delhi'])/len(temp['Delhi'])
print(avg)

35.0

In [23]:
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 80,
        'Science' : 78
    },
    'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
    }
}
pp(report)

{'Alex': {'English': 85, 'Maths': 80, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [24]:
for student , marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print('->', subject, mark)
    print('-> Total marks :' , sum(marks.values()))

Alex
-> English 85
-> Maths 80
-> Science 78
-> Total marks : 243
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total marks : 255