In [2]:
# for loop (list)
fruits = ['apple', 'mango', 'banana','orange','kiwi', 'grapes', 'papaya']
for x in fruits:
    print(x)

apple
mango
banana
orange
kiwi
grapes
papaya

In [7]:
# for loop (strings)
a = 'Hello World'
for x in a:
    print(x,end='')

Hello World

In [11]:
# to print numbers using for loop 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:

# name = 'Bhavya'
# for i in range(1,6):
#     print(name)

for i in range(1,6):
    print(name)

Bhavya
Bhavya
Bhavya
Bhavya
Bhavya

In [17]:
# to print even numbers from 0 to 30 
for i in range(0,31,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [22]:
# to print odd numbers till 30 
for i in range(31):
    i % 2 != 0
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [23]:
# using while loop
# to print numbers using while loop
i = 1
while i <= 20:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [31]:
# To print table 
# a = int(input('Enter a number to print the table: '))
a = 15
for i in range (1,11):
    print(f"{a} * {i} = {a*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [2]:
# break statement 
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [3]:
# continue statement
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
# to print first three characters of your name 
name = 'Bhavya'
for i in name:
    if i == 'v':
        break
    print(i, end='')

Bha

In [7]:
# To print the sum of the given list
a = [10,20,65,20]
total = 0
for i in a:
    total += i
print(total)

115

In [8]:
name = ['Bhavya','Saumya','Nisha','Ekta']
for i in name:
    print(i)

Bhavya
Saumya
Nisha
Ekta

In [9]:
for i,v in enumerate(name):
    print(f"{i}.{v}")

0.Bhavya
1.Saumya
2.Nisha
3.Ekta

In [11]:
# to print the items in a list
items = ['pen', 'pencil','eraser','sharpener','scale','book','bag']
for i,v in enumerate(items):
    if i == 5:
        break
    print(f"{i}.{v}")

0.pen
1.pencil
2.eraser
3.sharpener
4.scale